<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite Name"  parallel="tests" configfailurepolicy="continue">
    <!-- suite name="Suite Name" -->


    <test name="TestA" >
        <parameter name="device" value="ios"/>
        <classes>
            <class name ="concepts.TestNG.TestA" >
                <parameter name="ios" value="37"/>
            </class>

            <class name ="concepts.TestNG.TestB" />
        </classes>
    </test>

    <test name="TestB" >
        <parameter name="device" value="android"/>
        <classes>
            <class name ="concepts.TestNG.TestA" />
            <class name ="concepts.TestNG.TestB" />
        </classes>
    </test>

</suite>